# dependencies
/node_modules

# build
.next

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
react-app-env.d.ts

# husky
.husky

# vscode
.vscode